// Favs.module.scss
.title {
    text-align: center;
    color: inherit; 
    margin: 0;
    padding: 20px;
  }
  
  .cardGrid {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 90vw;
    height: auto;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .dark {
    background-color: #252525;
    color: #fff;

    input{
        background-color: #555;
        color: #fff;
        border: 1px solid #666;
    }
}

.light {
    background-color: #fff;
    color: #333;

    input,
    button {
        background-color: #fff;
        color: #333;
        border: 1px solid #ccc;
    }
}